*,
* *{
    color:#94aacd !important;
    background-color:transparent !important;
    border-color:#485974 !important;
}
h1,h2,h3,h4,h5{
	color:#007cef !important;
}
body{
    background-color:#222e41 !important;
}